{% extends 'layout.html' %}

{% block body %}
<div class="">
<h1>SSsss</h1>
</div>

    <textarea id="text-orginal">
Living as they do, in a supertechnological
society, American artists have quite
naturally turned to the products, processes
and imagery of science and industry.
Some approach technology with traditional
attitudes, others are using it to alter
the very definition of art, hut all who succumb
to its fascination have responded with
a new sense of exhilaration and discovery.


Technology is stealing into art in so many ways, some seen, others
unseen, that its progress literally escapes us. We know technology
is there in a r t; we feel its presence every time we stand before a
sculptural object that buzzes or dances or lights up, much as we
sense the influence of drugs in the rock music, the dancing and the
be-ins around us. Yet we lack a handle, a vocabulary to domes-
ticate these phenomena. The new combine, art and technology,
falling as it does between academic departments and between
“isms,” particularly daunts us. Perhaps we can see it best as a
force of unparalleled strength, a force at once profound, comic,
joyous and mysterious.

We do not normally associate technology with comedy and joy,
almost never with mystery. We associate it with the dry, the
rational, the inhuman. When, in 1951, Lewis Mumford compared
technology to the walls of a prison in “Art and Technics,” he
spoke for a wide segment of sophisticated opinion. But investiga-
tion of even so humble a chore as definition ought to reveal that
man and technology are one, not two.

“Technology”—on the dictionary level—is the servant of “sci-
ence,” meaning an application of theory, as it is embodied in
science, to practical problems, a distinction that shall be kept
throughout this article. On the simplest level, that application can
mean, for the artist, nothing more or less than a new product like
epoxy paint, or a new process, say the vacuum-forming used by
Craig Kauffman to shape the plexiglas in his bold sculptural ob-
jects. On a slightly higher level, “technology” can and should
mean, as Donald Schon points out in his brilliant book “Tech-
nology and Change,” “any tool or technique, any product or
process, any physical equipment or method of doing or making,
by which human capability is extended” [my italics]. Technology,
in other words, is man’s way of working, no less a part of him
than his own brain or hands: Marshall McLuhan is therefore
surely right when he calls technology an extension of the central
nervous system. There is more than making and extending in this
new art, of course: there is “science” broadly considered, the kind
of science that is charting a new metaphysic as well as a new,
computer-based society. We need to keep both the specific and the
general in mind, then, both the new tools provided by technology
for the hand, and the new knowledge provided by science for the
mind.

The artist has always employed new tools and knowledge,
though never so readily as now, when he haunts the factory as
often as the museum. In the past the gap in time between the new
product and its use in art was far wider. The Bauhaus, that in-
fluential school of design, was founded in Germany in 1919 par-
tially to close that gap—and from it came such architects as
Ludwig Mies van der Rohe, such painters as Josef Albers. The
futurists and the constructivists, whose adherents numbered Rus-
sians as well as Western Europeans, were also consciously deter-
mined to make art out of the materials around them. It is because
of their achievements that a contemporary artist like Larry Rivers
can take the stand—in conversation and in his work—that it is as
noble to make sculpture out of a light bulb as marble. “Michel-
angelo saw marble around him and worked with it,” Rivers says.
“I use electricity. What’s the difference ?”

The difference is that of degree, and not only because artists
moved more slowly in the p ast: so did technology. Leonardo da
Yinci actively sought new knowledge. He collaborated with the
anatomist Marcantonio della Torre to learn what he needed to
complete his great figure studies and drawings. His interest in
pure technology was, of course, complete: he designed and in part
constructed everything from field guns to flying machines. A good
argument can be made, in fact, that the Renaissance far antedated
the new tendency to mix art and science. The men of the Renais-
sance seemed to lack both the Greek penchant for elevating pure
thought (or art) above mere craft (or technology) and our own
for glorifying specialized knowledge.

Whatever the shape of esthetic theory, technology has always
left its imprint upon art. It has altered, quite radically, the nature
of pigment, that last reserve of the traditionalist. Before 1700—
and the maturation of chemistry as a science—few synthetics were
in use, most pigments being “natural,” like carbon black, colored
earth and certain natural metallic compounds. Since then, a num-
ber of colors—titanium white, Prussian blue, cobalt blue and a
wide variety of yellows based on zinc, chromium and cadmium—
have been added by chemistry to the painter’s palette. The devel-
opment of synthetic, quick-drying acrylic paints since World War
II has literally transformed the application of color to canvas.
They permit, to mention but one method, the wholesale “staining”
of the canvas, characteristic of the work of the Washington color
painters—Morris Louis, Kenneth Noland, Howard Mehring,
among others. This staining sinks the color deep into the fibers, a
process not possible with destructive oil-based pigments, which
can only be applied over a primer. Acrylic paints are also among
the most durable paints known. In 1959 the Artists Technical Re-
search Institute was founded solely to collect and disseminate
such information in an era of increasing chemical expertise.



Pop art and op art, as well as color painting, could not exist
without modern technology—a truth so obvious it often escapes
attention. The very meaning of pop art is based on how it is done
—by methods normally associated with commercial art and the
machine, not the brush, that instrument of the lone, gifted genius.
As for op art, it is completely the child of optical science. Sculp-
ture betrays an even closer relationship with technology; if we
are indeed seeing the beginnings of a renaissance in sculpture, it
is entirely due to technology. Por centuries sculpture has been
dominated by heavy materials like marble and bronze, both of
which take considerable time to master and considerable expense
to carve and cast. Today we live in a world of synthetic materials
that are cheap, pliable and exciting: the sculptor can work directly
with these materials in a way long denied him. I can make any-
thing now,” says Chicago sculptor Mel Johnson. “I can make my
pieces float, fly, suspend in the air or radiate odors.” The presence
of styrofoam, a soft, synthetic material developed by Dow Chemi-
cal, is proof in point. Styrofoam can be shaped or carved into the
most complicated forms; then, as sculptor Calvin Albert recently
discovered, a stream of molten metal magically turns the substance
into metal. “The styrofoam melts, I think, upon contact with the
heat of the molten metal,” says Albert. “Foam casting” of this
kind is widely employed and promises to increase as new foams
are developed, along with the expertise needed to use them.


Young sculptors in California seem particularly open to the
use of new materials and methods, surely because of the presence
there of what are sometimes called “esoteric” industries, especially
those involved with space technology. In 1965 Piotr Kowalski
joined with North American Aviation to “form” a piece of sculp-
tural metal by underwater explosion. Norman Zammitt’s trans-
parent plastic blocks, in which thin sheets of color seem to be
suspended indefinitely, grew out of wartime needs plus the artist’s
own ingenuity: during World War II American industry devel-
oped a clear, durable acrylic plastic to protect the fighter pilot in
his plane; years later, after much research, Zammitt invented a
pigment that survives contact with the glue needed to fasten
acrylic sheets together. In this case the time gap between product
and art neared twenty years. De Wain Valentine’s use of forms
drawn from new technology (plastic objects made in the image of
the rocket’s nose cone) appears to have followed roughly the same
time pattern, as does Larry Bell’s “High Vacuum Optical Coating
Machine.” Originally commissioned by the U.S. Air Force, this
machine lays an exquisitely thin coat of color onto glass, so thin
and precise it can be measured in the millionths of an inch. Bell’s
glass boxes,” which both mirror and reflect the subtlest patterns
of light and color, grew out of a direct, practical need for precision
in optics.

The connection between technology and kinetic sculpture is
clear, too. Jean Tinguely, the most famous of the kinetic sculptors,
is anti-machine in a wry, antic way, but certain of his colleagues
evince an almost mystical positivism about the machine. The Ger-
man Nicholas Schoffer has said that he wants to “humanize” the
machine, that he sees in technology a chance to “liberate” man-
kind. The San Francisco sculptor Fletcher Benton puts it more
succinctly: “I think kinetic art is involved in moving time in the
same way that society is. It’s more applicable to social change,
say, than static culture.” The sculpture of Charles Frazier, which
dances, swims and flies, literally leaves the static world of the
gallery behind. Late in 1966, James Seawright exhibited at New
York’s Stable Gallery eight “electronic sculptures,” some fixed,
some moving, all purely devoted to the forms of circuitry—am-
plifiers, oscillators, digital computers, wires—all making a kind
of beauty entirely proper to more static materials. On every level,
these sculptors display a fascination with parts, wheels, sounds
and movements peculiar to our time.

The use of artificial light as a sculptural medium, pioneered in
this country by Gyorgy Kepes of M.I.T. and now a full-blown art
form, is yet another obvious instance of the meeting of technology
and art. The same could be said of “factory sculpture”—the
tendency, particularly strong among the minimal artists, Donald
Judd, Bobert Morris, Craig Kauffman, John McCracken and
others, to have their pieces cut, shaped and sheened on order rather
than in the studio. As for the computer, the most sophisticated of
the new tools now at our disposal, it has just begun to be the sub-
ject of artistic exploration. At the Bell Telephone Laboratories in
Murray Hill, New Jersey, it is being played like an instrument by
such men as James Tenney, the composer, film-maker Stan Van-
derbeek and engineer Michael Noll. Tenney, using the inherently
mathematical nature of music and the computer’s ability to create
combinations of sounds, random or ordered, with tremendous
speed, has produced compositions by and for the computer. Noll
has translated probability theory into art by producing pictures
on a graphic display unit attached to the computer. With this same
unit he has created man/machine choreography and movies. Stan
Vanderbeek’s film “Studies in Computer-generated Graphics”
moves letters and patterns derived from the machine backward
and forward. It is surely no accident that Tenney’s informal
classes in computer methodology, begun last winter in New York,
were attended by a wide range of artists, from playwrights and
poets to dancers and composers. “I ’m interested in the computer
in the same way that a geologist would be interested in flying over
an area in an airplane,” says Tenney. “He can see from a great
height formations that would otherwise take him years to study.
With the computer I can experiment freely with large formal
terms, like the symphony.”


Avant-garde music was intimately involved with technology
long before Tenney, of course. For years John Cage has been com-
posing works with radios, amplifiers, oscillators, contact micro-
phones, even the sounds picked up by antennae from outer space.
In “Bandoneon!” David Tudor leaves his components (a combina-
tion of programmed audio circuits, moving loudspeakers, televi-
sion images and lights) completely alone: the “instrument” com-
poses its own music when activated, a principle employed, with
qualifications, by many post-Cagean composers, among them
Earle Brown, Morton Feldman, Henry Partch, Robert Ashley,
David Behrman, Max Neuhaus, Alvin Lucier and Gordon Mumma.
The dependence of electronic music, by now old stuff, on tech-
nology is clear: “Without the new tapes,” composer Milton Bab-
bitt has said, “electronic music could not exist.”

Contemporary dance has its technological pioneers, too, Alwin
Nikolais began to exploit light, as an independent medium and as
an interacting agent with the dancer, at the Henry Street Play-
house in New York during the late 1950s. In Merce Cunningham’s
“Variations V” the dancers create their own sound accompani-
ment by moving near electronic poles that hum and buzz merrily
in response. Choreographer-performers like Yvonne Rainer, Alex
Hay, Robert Morris, Lucinda Childs and Robert Rauschenberg,
many of whom began working at Judson Memorial Church in
Greenwich Village during the early 1960s, go even farther. The
involvement of the Judson Dancers in new technology was espe-
cially evident in “Nine Evenings: 'Theater and Engineering,” pre-
sented in the fall of 1966 at the 69th Regiment Armory in New
York. Certain of the “theater pieces” presented not only made
use of esoteric (for the theater) technology—as in Yvonne
Rainer’s “Carriage Discreteness,” where objects were programmed
to move independently of the dancers—but some ceded to the
machine itself creative functions—as in Lucinda Childs’s “Ve-
hicle,” where sound waves from radio station WQXR turned lights
on and off on the floor, emphasizing, for the audience, now this
aspect of the performance, now another.

With “Nine Evenings”—and with the development of E.A.T.
(Experiments in Art and Technology, Inc.), a foundation that
grew out of the 1966 Armory performances—we sense a new
combine of unparalleled radicality. In “The Two Cultures,” pub-
lished in 1960, C. P. Snow made much of the fact that “the
literary culture” had little of practical use to give “the scientific
culture,” that, in effect, science was lord and master, art the fol-
lower. Now every new sign indicates the relationship is a good
deal more complicated. As Donald Schon demonstrates, to begin
with, the history of science is riddled with chance discoveries, dis-
coveries that link science and art in a common irrationality. Calvin
Albert’s discovery of the uses of styrofoam is a perfect case in
point of how an artist can come upon a physical truth by intuition
and sheer need rather than by formal discipline, but his is not
the only example. The artists and engineers who worked together
for months preparing “Nine Evenings” found a phosphor that is
useful in infrared laser research. They invented a tiny power
amplifier with clear commercial possibilities. They created a “pro-
portional control system” which varied sound and light on stage
simply by passing a small flashlight over a square glass covering
sixteen photocells. They demanded and got (from Japan, finally)
a special television camera, equipped with a tube receptive to
infrared light, that literally “sees in the dark” and projects onto
a screen clear images of activity performed in darkness. The
camera is now being marketed in this country. When art and
science interact, clearly, the new tools can be extended by both.
It is not only a matter of tools, but knowledge, too. We often
hear from traditionalists, for example, that abstract painting is a
flight from reality. But reality as it manifests itself to us now is
hardly confined to the three-dimensional objects perceived by our
naked eyes. We are told from birth that the building block of the
universe is the atom; we now see nature’s minute forms through
the photomicroscope, the radiograph, and the spectrogram. At
the other extreme, in scale, is the aerial photograph, so brilliantly
exploited in recent years by Will Garnett and others—in response
surely to the same concern for large forms that motivates James
Tenney. And think again of McLuhan’s claims for even so simple
a technological gift as the television set. From earliest age the TY
child watches images stream continuously before his eyes, images
he neither fully understands nor relates one to another. Think now
of the multi-screen films demonstrated at Expo 67 in Montreal,
of a multi-media discotheque, of the Once Group’s multi-media
performances in Ann Arbor, Michigan, of Milton Cohen’s “Space
Theater,” in which light and sound interact wTith each other simul-
taneously (and a dancing performer with both) ; or, more to the
point, the happening. In a happening many events often occur
at once, in no apparent logical order; its most enthusiastic sup-
port, moreover, has come from the first TV generation grown to
early adulthood. Nam June Paik’s decision to turn old TV sets—
and the images on them—into sculptural objects thus makes ex-
quisite historical sense.

Physics has further expanded our sensibilities. If the clock gave
deism its perfect metaphor, substantiating a view of the universe
ticking away in measured, mechanical time, twentieth-century
physics has destroyed it. After Einstein, we have ceased in fact to
believe in time. Both the new dance and the happening reflect this
by ignoring measured time, the former by choreographing the
body in a static state, the latter by stretching on interminably,
sometimes for days.




What past and present finally tell us about art and technology
is that we are witnessing now not a completely new phenomenon
in fact, but a radical mutation in an old relationship that has
persisted through every kind of esthetic change. Pour strains seem
differentiated at this hour, the first three clearly traditional in
every sense. There is the use by the artist of materials produced
by recent technology. There is the use of tools and methods with
the same derivation. There is the use of a new imagery suggested
both by the tangible forms of technology and the revelations of
science. And there is, finally, the full partnership between artist
and machine in the creative process. Here alone do we near any-
thing approaching radicality. Billy Kliiver, the engineer who
helped launch both “Nine Evenings” and E.A.T., once pointed out
that the goal of collaboration between artist and engineer is some-
thing that neither side could have imagined or created by itself.
In the results of Kliiver’s collaborations—Jean Tinguely’s self-
destroying machine (Homage to New York), Robert Rauschen-
berg’s five remote-controlled radios interacting as sound sculpture
(Oracle), Andy Warhol’s floating pillows, among many—
this goal clearly has been realized. Per Biorn, another engineer,
collaborated with the Argentine artist Marta Minujin to similar
effect: the result, exhibited in New York last summer, was the
“Minuphone,” which produces a complicated set of light and
sound responses in interaction with the spectator, who must step
inside the work and speak into the phone. It is no wonder that
Kliiver has referred to himself as “a work of art,” signaling the
rise of technology to a new place of equality in art. In certain
aspects of “Nine Evenings” the machine interacted fully, setting
up independent patterns, together with the artist, a process in-
herent in nearly all the “playing” with and on the computer.


Thus the present scene is at once more conservative and more
radical than it imagines itself to be. And dedicated more con-
sciously than at any time in the past to the fusion of art with
science, to reducing the lag—be it twenty, ten, or one year—be-
tween product and art. In E.A.T., in Gyorgy Kepes’ Center for
Advanced Visual Studies at M.I.T., in the Aesthetic Research Cen-
ter of Venice, California, we see the rise of organizations actively
dedicated to promoting that fusion, some supported by industries
eager to capitalize on the commercial “fallout” sure to follow. Out
of such organizations can only come in time new shapes and ideas
unimaginable in the past, when art and technology related across
a gap wide in time, a gap maintained by timidity and ignorance
on both sides. The ignorance is vanishing now and the timidity re-
ceding, despite all the gloom engendered by prophets like Mum-
ford, by facts like Hiroshima. We use technology now with an
exuberance and a joy impossible even a decade ago—for reasons
we shall shortly investigate, first through the medium of the users
themselves.




The artist resplendent with his technology:

Presenting Charles Frazier and “The Under-
ground Tube Company" made up respec-
tively, from left to right, of the “Wicked
Witch of the West," which hops and tilts;
“Goodyear Blimp," which jumps up and
down, falls over and plays a horn; “Wall-
flower," a stationary body that supports a
plastic balloon; “Britannia," which rises off
the ground, jiggles and blinks its lights; and
“Lone Banger," which whistles, blinks and
floats on a cushion of air. The materials are
various, though there is a heavy reliance on
plastic, electricity, rubber and aluminum. The
Company, designed for accompaniment by
musicians and dancers, is in fact one of
Frazier’s more modest efforts. Most of his
pieces fly quite energetically about, and a few
swim, making even the most liberal gallery or
museum space inadequate. Frazier, in com-
mon with many other young American art-
ists, finds in the machine not only a means
to an end but positive joy and exuberance.


The “High Vacuum Optical Coating Ma-
chine," manufactured for the U.S. Air Force,
was purchased secondhand by Larry Bell.
He operates the machine himself, loading its
filaments with colored crystals which, when
vaporized, settle on glass plate in a coat
so thin it can be measured in the millionths
of an inch. These plates, with their exquis-
itely subtle gradations of color, are joined
to form Bell’s cool, severe box constructions.

Norman Zammitt emerges from his “clean
room," a dust-free chamber where he presses
together thin plates of acrylic plastic which,
have been sprayed with a pigment of his own
invention. It took much investigation—m
the face of the pessimistic warnings from
technicians—before Zammitt perfected a pig-
ment that could withstand the glue used in his
laminating process. Zammitt’s plastic blocks
(see page 32) give the illusion, as the art-
ist puts it, of “color suspended in space."

Among the many new processes employed by
contemporary artists, one of the most spec-
tacular is “explosive forming,” utilized by
sculptor Piotr Kowalski in collaboration
with North American Aviation, Inc. Explo-
sive forming is employed by North American
(and others) to weld and shape high-density
metals underwater by controlled explosion.
Kowalski’s Dynamite, a stainless steel work
commissioned for the 1965 sculpture sym-
posium at Long Beach California State Col-
lege, was formed in this way and then pol-
ished to a highly reflective sheen. In the pic-
ture sequence at left, workers attach explo-
sive charges to a curved steel sheet; the ex-
plosion takes place; and the sheet is raised
from the water, its new creases clearly visible.
At right, the completed sculpture is shown at
its permanent site on the Long Beach campus,
with Kowalski sitting proudly in the middle.

William Morehouse: No. 35, urethane, acrylic and
polyester on aluminum armature, 1966. Collection of Elmer Schlesinger.

Norman Zammitt: Solid Construction-Laminated,
acrylic plastic, 1966. Felix Landau Gallery, Los Angeles.
New materials are everywhere in today’s art, and often they are
difficult to discern since the uses made of them can he quite tra-
ditional in effect. Certain critics have gone so far as to deny that
technology has had any direct influence on contemporary art at all.
But some influences work of necessity through indirection and are
the more powerful thereby. When William Morehouse set about
to make his funky No. 35, he probably gave not a thought to the
source or "newness” of Ms materials, but rather was attracted to
their color and texture; nonetheless, the materials—urethane,
acrylic and polyester— were at hand only because recent technol-
ogy had bequeathed them. Gil Henderson’s Marvelous Electronic
Device for Young and Old Alike pokes fun at technology through
the medium of technology itself—a light device that flashes antic
messages at the viewer. The pieces by Craig Kauffman and 
Norman Zammitt are both made of plastics—Kauffman’s is vacuum-
formed, Zammitt’s is laminated. Even this small sampling, which
touches upon a wide variety of contemporary directions, from
funk to minimal, shews that technology since World War I I has
given the artist a wide range of new colors, shapes and textures
with which to work, whatever his esthetic motives. A rt now has a
new face, a face unimaginable, or at least unrealizable, in the past.


The “Maxfeed” designed in 1967 by composer
Max Neuhaus and distributed by Mass Art
Inc., incorporates both the sound and form of
recent technology. A flick of the dial, and the
circuitry produces static and screech, in
variable combinations. Photo by Peter Moore.

Sculptor Les Levine cavorts in his Star
Garden, a “place” that covered some 400
square feet of the garden of the Museum of
Modern Art, where it was on display in
May of 1967. The four see-through modules
are composed of 16 Acrylite acrylic plastic
bubbles manufactured by American Cyanamid Company and donated to the artist.

Artists are using not only the shapes suggested
by technology but the products themselves.
In his “TV” show held at the Galeria Bonino
in 1965, Nam June Paik displayed as sculp-
ture both television sets and the images on
them, like the one above, distorted by a
hand-held magnet. Photo by Peter Moore.

Soroku Toyoshima’s Human Body III, below
left, a 1965 sculpture in metal and plastic,
moves and emits sounds produced by the
interaction of its components. This Japanese
artist, who works in New York, has turned
to virtually the same end as the American
James Seawright (see pages 43-45)—to the
use of the forms of technology itself. Larry
Aldrich Museum, Ridgefield, Connecticut.

The computer is adding to the rich store of
images that technology offers today’s artists.
John Whitney, a California artist and film-
maker, has been experimenting with what he
calls “Computer Graphics” since 1964, when
he produced the image below, using a primi-
tive analogue computer “homemade” from an
Army surplus antiaircraft gun director.

“Nine Evenings: Theater and Engineering,”
performed at New York’s 69th Regiment
Armory in the fall of 1966, signaled a new,
closer collaboration between art and tech-
nology. Scores of artists and engineers worked
together for almost a year, planning
“theater pieces” that made extensive use of
technology quite esoteric— for the theater.
In “Grass Field,” above, Alex Hay utilized
a tiny but powerful amplifier to magnify the
internal sounds of his body while he moved
and sat; meanwhile his image was projected
onto a huge television screen, the total ef-
fect being a “dance” accompanied by “music”
made from the static properties of the body
itself. In certain of the other performances
the machine was ceded significant creative
functions. Lucinda Childs’s “Vehicle,” left,
was lighted in part by incoming radio waves
from station wqxr ; the waves, depending on
their frequency, turned the lights on and off.

The composer David Tudor’s “Nine Evenings” performance,
which he called “Bandoneon! (a combine),” incorporated pro-
grammed audio circuits, moving loudspeakers, images and lights.
The machines quite literally took over the stage and played
themselves, so to speak, each “instrument” interacting with the
other to produce a “composition.” Photo by Peter Moore.
    </textarea>
<button id="orgianl-text-submit">Send</button>






<script type="text/javascript">
	

	document.getElementById('orgianl-text-submit').addEventListener('click',()=>{

		let text = document.getElementById('text-orginal').value

		console.log(text)
		console.log(socket)

		socket.emit('process_text', {data: text});


		socket.on("job_status",(data) => console.log(data))

	})






</script>








{% endblock %}